{% extends 'managerlayout.html' %}

{% block title %}
Deposit Report
{% endblock %}
{% block main %}

<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f5f9;
    padding: 0px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
    text-align: center;
    color: #333;
  }

  label {
    font-weight: bold;
  }

  .date-picker {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .submit-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .submit-button:hover {
    background-color: #0056b3;
  }

  .table-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .table {
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

  }

  .table th, .table td {
    padding: 1px;
    text-align: center;
    border-bottom: 0px solid #ddd;
    vertical-align: middle;
  }
  .table th {
    background-color: #f8f9fa;
  }
  .table {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap; /* Prevents the content from wrapping */
    overflow: hidden; /* Hides content that exceeds cell dimensions */
    text-overflow: ellipsis; /* Adds an ellipsis (...) to indicate hidden content */
  }
  .divScroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height:150px;
    }
</style>

<div class="container">
  <form class="form" action="/rdeposit" method="post">
    <h2>Deposit Report</h2>
    <label for="fromDate2">From Date:</label>
    <input type="date" id="fromDate2" name="fromDate2" class="date-picker">
    <label for="toDate2">To Date:</label>
    <input type="date" id="toDate2" name="toDate2" class="date-picker">
    <button type="submit" class="submit-button">Generate Report</button>
  </form>

  {%if dates%}
  <div class="divScroll">
  <table class="table table-hover">
    <tr>
      <th><h4>Dates</h4></th>
     
    </tr>
    
      {%for x in dates%}
      <tr>
        <td>{{x}}</td>
      </tr>
      {%endfor%}
    
  </table>
  </div>
  {%endif%}
{% if deposit%}
  <div class="table-container">
      <table class="table table-hover">

          <tr>
              <th></th>
              <th>شيقل</th>
              <th></th>
          </tr>
          <tr>
              <th>الفئة</th>
              <th>العدد</th>
              <th>المجموع</th>
          </tr>
          <tr>
            <td>200</td>
            <td>{{deposit[0]['ils_200']}}</td>
            <td>{{ (deposit[0]['ils_200'] * 200) }}</td>
          </tr>
          <tr>
            <td>100</td>
            <td>{{deposit[0]['ils_100']}}</td>
            <td>{{ (deposit[0]['ils_100'] * 100) }}</td>
          </tr>
          <tr>
            <td>50</td>
            <td>{{deposit[0]['ils_50']}}</td>
            <td>{{ (deposit[0]['ils_50'] * 50) }}</td>
          </tr>
          <tr>
            <td>20</td>
            <td>{{deposit[0]['ils_20']}}</td>
            <td>{{ ( deposit[0]['ils_20'] * 20 ) }}</td>
          </tr>
          <tr>
            <td>10</td>
            <td>{{deposit[0]['ils_10']}}</td>
            <td>{{ (deposit[0]['ils_10'] * 10) }}</td>
          </tr>
          <tr>
            <td>5</td>
            <td>{{deposit[0]['ils_5']}}</td>
            <td>{{ (deposit[0]['ils_5'] * 5)}}</td>
          </tr>
          <tr>
            <td>2</td>
            <td>{{deposit[0]['ils_2']}}</td>
            <td>{{ (deposit[0]['ils_2'] * 2) }}</td>
          </tr>
          <tr>
            <td>1</td>
            <td>{{deposit[0]['ils_1']}}</td>
            <td>{{ (deposit[0]['ils_1'] * 1) }}</td>
          </tr>
          <tr>
            <td>0.5</td>
            <td>{{deposit[0]['ils_05']}}</td>
            <td>{{ ((deposit[0]['ils_05'] * 0.5)|round(2)) }}</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <th>{{( (deposit[0]['ils_200'] * 200) + (deposit[0]['ils_100'] * 100) +(deposit[0]['ils_50'] * 50) + ( deposit[0]['ils_20'] * 20 ) + (deposit[0]['ils_10'] * 10) + (deposit[0]['ils_5'] * 5) + (deposit[0]['ils_2'] * 2) + (deposit[0]['ils_1'] * 1) + ((deposit[0]['ils_05'] * 0.5)|round(2)))}}</th>
          </tr>
            <tr>
            <td></td>
            <td></td>
            {%if ttlview %}
            <th> {{ (((ttlview['ils'] * (-1))|round(2) + ( (deposit[0]['ils_200'] * 200) + (deposit[0]['ils_100'] * 100) +(deposit[0]['ils_50'] * 50) + ( deposit[0]['ils_20'] * 20 ) + (deposit[0]['ils_10'] * 10) + (deposit[0]['ils_5'] * 5) + (deposit[0]['ils_2'] * 2) + (deposit[0]['ils_1'] * 1) + ((deposit[0]['ils_05'] * 0.5)|round(2)))))|round(2)}}</th>
            {% endif %}
          </tr>
    </table>

      <table class="table table-hover ">
          <tr>
              <th></th>
              <th>دولار</th>
              <th></th>
          </tr>
          <tr>
              <th>الفئة</th>
              <th>العدد</th>
              <th>المجموع</th>
          </tr>
          <tr>
            <td>100</td>
            <td>{{deposit[0]['usd_100']}}</td>
            <td>{{ (deposit[0]['usd_100'] * 100) }}</td>
          </tr>
          <tr>
            <td>50</td>
            <td>{{deposit[0]['usd_50']}}</td>
            <td>{{ (deposit[0]['usd_50'] * 50) }}</td>
          </tr>
          <tr>
            <td>20</td>
            <td>{{deposit[0]['usd_20']}}</td>
            <td>{{ ( deposit[0]['usd_20'] * 20 ) }}</td>
          </tr>
          <tr>
            <td>10</td>
            <td>{{deposit[0]['usd_10']}}</td>
            <td>{{ (deposit[0]['usd_10'] * 10) }}</td>
          </tr>
          <tr>
            <td>5</td>
            <td>{{deposit[0]['usd_5']}}</td>
            <td>{{ (deposit[0]['usd_5'] * 5)}}</td>
          </tr>
          <tr>
            <td>2</td>
            <td>{{deposit[0]['usd_2']}}</td>
            <td>{{ (deposit[0]['usd_2'] * 2) }}</td>
          </tr>
          <tr>
            <td>1</td>
            <td>{{deposit[0]['usd_1']}}</td>
            <td>{{ (deposit[0]['usd_1'] * 1) }}</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <th>{{( ( (deposit[0]['usd_100'] * 100) +(deposit[0]['usd_50'] * 50) + ( deposit[0]['usd_20'] * 20 ) + (deposit[0]['usd_10'] * 10) + (deposit[0]['usd_5'] * 5) + (deposit[0]['usd_2'] * 2) + (deposit[0]['usd_1'] * 1)))}}</th>
          </tr>
            <tr>
            <td></td>
            <td></td>
            {%if ttlview %}
            <th> {{ (( (ttlview['usd'] * (-1) )+ ( (deposit[0]['usd_100'] * 100) +(deposit[0]['usd_50'] * 50) + ( deposit[0]['usd_20'] * 20 ) + (deposit[0]['usd_10'] * 10) + (deposit[0]['usd_5'] * 5) + (deposit[0]['usd_2'] * 2) + (deposit[0]['usd_1'] * 1) ) ))|round(2)}}</th>
            {% endif %}
          </tr>
      </table>

        <table class="table table-hover">

          <tr>
              <th></th>
              <th>دينار</th>
              <th></th>
          </tr>
          <tr>
              <th>الفئة</th>
              <th>العدد</th>
              <th>المجموع</th>
          </tr>
          <tr>
            <td>50</td>
            <td>{{deposit[0]['jod_50']}}</td>
            <td>{{ (deposit[0]['jod_50'] * 50) }}</td>
          </tr>
          <tr>
            <td>20</td>
            <td>{{deposit[0]['jod_20']}}</td>
            <td>{{ ( deposit[0]['jod_20'] * 20 ) }}</td>
          </tr>
          <tr>
            <td>10</td>
            <td>{{deposit[0]['jod_10']}}</td>
            <td>{{ (deposit[0]['jod_10'] * 10) }}</td>
          </tr>
          <tr>
            <td>5</td>
            <td>{{deposit[0]['jod_5']}}</td>
            <td>{{ (deposit[0]['jod_5'] * 5)}}</td>
          </tr>
          <tr>
            <td>1</td>
            <td>{{deposit[0]['jod_1']}}</td>
            <td>{{ (deposit[0]['jod_1'] * 1) }}</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <th>{{( ( (deposit[0]['jod_50'] * 50) + ( deposit[0]['jod_20'] * 20 ) + (deposit[0]['jod_10'] * 10) + (deposit[0]['jod_5'] * 5) + (deposit[0]['jod_1'] * 1)))}}</th>
          </tr>
            <tr>
            <td></td>
            <td></td>
            {%if ttlview %}
            <th> {{ (((ttlview['jod'] * (-1))|round(2) + (deposit[0]['jod_50'] * 50) + ( deposit[0]['jod_20'] * 20 ) + (deposit[0]['jod_10'] * 10) + (deposit[0]['jod_5'] * 5) +  (deposit[0]['jod_1'] * 1) ))|round(2)}}</th>
            {% endif %}
          </tr>
          {% endif %}
      </table>
    </div>
  </div>
</body>

{% endblock %}