{% extends 'managerlayout.html' %}

{% block title %}
Deposit Report
{% endblock %}
{% block main %}

<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f5f9;
    padding: 0px;
  }

  .container {
    display: flex;
    justify-content: space-between;
}

.form {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

  h2 {
    text-align: center;
    color: #333;
  }

  label {
    font-weight: bold;
  }

  .date-picker {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .submit-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .submit-button:hover {
    background-color: #0056b3;
  }

  .table-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .table {
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

  }

  .table th, .table td {
    padding: 1px;
    text-align: center;
    border-bottom: 0px solid #ddd;
    vertical-align: middle;
  }
  .table th {
    background-color: #f8f9fa;
  }
  .table {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap; /* Prevents the content from wrapping */
    overflow: hidden; /* Hides content that exceeds cell dimensions */
    text-overflow: ellipsis; /* Adds an ellipsis (...) to indicate hidden content */
  }
  .single {
    display: flex;
    justify-content: space-between;
    width: 50%; /* Set the desired width */
    margin: 0 auto;
  }
</style>
</head>
<body>
<div class="single">
  <form class="form" action="/rdeposit" method="post" target="_blank">
    <h2>Deposit Report</h2>
    <label for="fromDate2">From Date:</label>
    <input type="date" id="fromDate2" name="fromDate2" class="date-picker">
    <label for="toDate2">To Date:</label>
    <input type="date" id="toDate2" name="toDate2" class="date-picker">
    <input style="text-align:center;" autocomplete="off" autofocus name="studNumber" id="studNumber" placeholder="رقم المربط">
    <br>
    <br>
    <input style="text-align:center ; width:400px; height:60px;" autocomplete="off" autofocus name="notes" id="notes" placeholder="ملاحطات">
    <br><br>
    <button type="submit" class="submit-button" id="generateReport">Generate Report</button>
  </form>
</div>

<div class="container">
  <form class="form" action="/JDECoMReport" method="post" target="_blank">
    <h2>JDECo</h2>
    <label for="FromDate">From Date:</label>
    <input type="date" id="FromDate" name="FromDate" class="date-picker">
    <label for="ToDate">To Date:</label>
    <input type="date" id="ToDate" name="ToDate" class="date-picker">
    <br><br>
    <button type="submit" class="submit-button" id="generateReport">Generate Report</button>
  </form>

  <form class="form" action="/palpayMReport" method="post" target="_blank">
    <h2>PALPAY</h2>
    <label for="FromDate">From Date:</label>
    <input type="date" id="FromDate" name="FromDate" class="date-picker">
    <label for="ToDate">To Date:</label>
    <input type="date" id="ToDate" name="ToDate" class="date-picker">
    <br><br>
    <button type="submit" class="submit-button" id="generateReport">Generate Report</button>
  </form>
</div>
</body>
{% endblock %}